@import url('./__menu/header__menu.css');
@import url('./__logo/header__logo.css');

.header {
	font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding-top: 30px;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 3rem;
}

@media only screen and (max-width : 768px) {
 .header {
        align-items: flex-end;
        padding: 0 1.5rem;
        min-height: 78px;
    }
}

@media only screen and (max-width : 480px) {
    .header {
        padding: 0 1rem;
        min-height: 52px;
    }
}


